<script>
  window.DG_RESIZABLE_PANES = {
    enabled: {{ pluginSettings.enabled | dump }},
    defaultLeftWidth: {{ pluginSettings.defaultLeftWidth | dump }},
    defaultRightWidth: {{ pluginSettings.defaultRightWidth | dump }},
    minPaneWidth: {{ pluginSettings.minPaneWidth | dump }},
    maxViewportPercent: {{ pluginSettings.maxViewportPercent | dump }},
    mainMinWidth: {{ pluginSettings.mainMinWidth | dump }},
    paneGap: {{ pluginSettings.paneGap | dump }},
    persistWidths: {{ pluginSettings.persistWidths | dump }}
  };
</script>
